<section class="container my-5 p-2 rounded bg-secondary text-light">
	<div>
		<span class="fw-bold">Catégorie:</span>
		{{ trick.category.category }}</div>
	<div class="my-5">{{ trick.content }}</div>
	<div class="d-flex justify-content-between">
		<div>
			<img src="{{ trick.user.media.values.0.path }}" class="rounded-circle" alt="avatar" width="32" height="32">
			{{ trick.user.firstName }}
			{{ trick.user.lastName }}</div>
		<div>
			{% if trick.updateAt != trick.createdAt %}
				{{ trick.updateAt|format_datetime('short', 'none', locale='fr') }}
			{% else %}
				{{ trick.createdAt|format_datetime('short', 'none', locale='fr') }}
			{% endif %}
		</div>
	</div>
</section>
