<section class="container my-5">
	<div>
		<span class="fw-bold">Catégorie:</span>
		{{ trick.category.category }}</div>
	<div class="my-5">{{ trick.content }}</div>
	<div class="d-flex justify-content-between text-secondary">
		<div>
			<img src="{{ trick.user.media.values.0.file }}" class="rounded-circle" alt="avatar" width="32" height="32">
			{{ trick.user.firstName }}
			{{ trick.user.lastName }}</div>
		<div>
			dernière modification:
			{% if trick.updateAt != trick.createdAt %}
				{{ trick.updateAt|date('l, d F Y') }}
			{% else %}
				{{ trick.createdAt|date('l, d F Y') }}
			{% endif %}
		</div>
	</div>
</section>
