<nav class="navbar navbar-expand-lg navbar-dark bg-od">
	<div class="container-fluid">
		<div>
			<a class="navbar-brand" href="{{ path('app_home') }}">Snowtricks</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
			<ul class="navbar-nav mx-5 m-lg-0">
				<li class="nav-item my-3 m-lg-0">
					<a class="nav-link" href="{{ path('app_home') }}">
						<i class="bi bi-house-fill"></i>
						Accueil
					</a>
				</li>

				{% include 'base/navbar-item-separator.html.twig' %}

				<li class="nav-item my-3 m-lg-0">
					<a class="nav-link" href="{{ path('app_home') }}#tricks">
						<i class="bi bi-snow"></i>
						Tricks
					</a>
				</li>

				{% include 'base/navbar-item-separator.html.twig' %}

				{% if is_granted('ROLE_USER') %}
					<li class="nav-item my-3 m-lg-0">
						<a class="nav-link" href="{{ path('app_trick_create') }}">
							<i class="bi bi-plus-circle-fill"></i>
							Nouveau Trick
						</a>
					</li>

					{% include 'base/navbar-item-separator.html.twig' %}

					<li class="nav-item my-3 m-lg-0">
						<div class="dropdown d-block d-lg-none">
							<img src="{{ app.user.avatar.path }}" class="rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" alt="avatar" width="42" height="42">
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
								<li class="nav-item">
									<a class="dropdown-item" href="{{ path('app_logout') }}">
										<span class="text-danger">
											<i class="bi bi-box-arrow-right"></i>Déconnexion
										</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item my-3 m-lg-0">
						<div class="btn-group d-none d-lg-block">
							<img src="{{ app.user.avatar.path }}" class="rounded-circle dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" alt="avatar" width="42" height="42">
							<ul class="dropdown-menu dropdown-menu-right" style="left: -135px">
								<li class="dropdown-item" type="button">
									<a class="dropdown-item" href="{{ path('app_logout') }}">
										<span class="text-danger">
											<i class="bi bi-box-arrow-right"></i>Déconnexion
										</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				{% else %}
					<li class="nav-item my-3 m-lg-0">
						<a class="nav-link" href="{{ path('app_login') }}">
							<i class="bi bi-fingerprint"></i>
							Connexion
						</a>
					</li>
					{% include 'base/navbar-item-separator.html.twig' %}
					<li class="nav-item my-3 m-lg-0">
						<a class="nav-link" href="{{ path('app_register') }}">
							<i class="bi bi-person-plus-fill"></i>
							Inscription
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
