<div class="py-3">
	{% for comment in trick.comments|sortBy('createdAt', 'desc') %}
		{# set avatar path#}
		{% if comment.user.avatar.path is defined %}
			{% set avatar_path = comment.user.avatar.path %}
		{% else %}
			{% if comment.user.gender.gender == 'male' %}
				{% set avatar_path = url('app_home') ~ '/img/male.jpg' %}
			{% elseif comment.user.gender.gender == 'female'%}
				{% set avatar_path = url('app_home') ~ '/img/female.jpg' %}
			{% endif %}
		{% endif %}

		<div class="my-3 content">
			<div class="d-flex flex-column">
				<div class="d-flex">
					<img src="{{ avatar_path }}" class="rounded-circle pt-1" alt="avatar" width="42" height="42">
					<div class=" mx-2 w-100 bg-secondary text-white rounded">
						<div class="d-flex">
							<div class="px-2 fw-bold">
								{{ comment.user.firstName }}
								{{ comment.user.lastName }}
							</div>
							<div class="px-2">-</div>
							<div class="px-2 fw-bold">
								{{ comment.createdAt|format_datetime('short', 'short', locale='fr') }}
							</div>
						</div>
						<div class="p-3">{{ comment.content }}</div>
					</div>

				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% if trick.comments|length > 4 %}
	<div class="d-flex justify-content-around">
		<a href="#" id="loadMore" class="btn btn-primary" type="button">
			<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
			commentaires suivants...
		</a>
	</div>
{% endif %}
